<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdn.tailwindcss.com"></script>
     <title>Document</title>
</head>
<body>
    <div class=" w-full h-screen main bg-zinc-900 py-3 px-2 text-white">
     <h2 class="text-xl m-3">login your account</h2>
     <form action="/upload" method="post" enctype="multipart/form-data">
          <input type="file"  class="px-2 py-3 rounded botder-md border-zinc-500 bg-zinc-900"name="image" placeholder="upload yout img">
          <input type="submit" class="bg-blue-400 px-2 py-3 roundend border-zinc-500" value=" upload file">


     </form>
    </div>
</body>
</html>
